{% extends 'base.html.twig' %}

{% block title %}Accueil - Stubborn{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <div class="container products">
            {% for sweatshirt in featuredSweatshirts %}
                <div class="card">
                    <img src="{{ asset('images/' ~ sweatshirt.image) }}" alt="{{ sweatshirt.name }}" />
                    <h3>{{ sweatshirt.name }}</h3>
                    <div class="price-button">
                        <p>Prix : {{ sweatshirt.price }} €</p>
                        {% if app.user %}
                            <a href="{{ path('app_product', {'id': sweatshirt.id}) }}" class="button">Voir</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}