{% extends 'base.html.twig' %}

{% block title %}Inscription - Stubborn{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name, {'label': 'form.name'}) }}
        {{ form_row(registrationForm.email, {'label': 'form.email'}) }}
        {{ form_row(registrationForm.plainPassword, {'label': 'form.password'}) }}
        {{ form_row(registrationForm.delivery_address, {'label': 'form.delivery_address'}) }}
        {{ form_row(registrationForm.agreeTerms, {'label': 'form.agree_terms'}) }}
        <button type="submit">{{ 'form.submit'|trans }}</button>
    {{ form_end(registrationForm) }}

    <p><a href="{{ path('app_login') }}">{{ 'already_registered'|trans }}</a></p>
{% endblock %}