{% extends 'base.html.twig' %}

{% block title %}Produits - Stubborn{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('products') }}
{% endblock %}

{% block body %}
<section class="products-page">
    <div class="price-filter">
        <h2>Fourchette de prix</h2>
        <ul>
            <li>
                <a href="{{ path('app_products') }}" {% if selectedRange is null %}style="font-weight: bold;"{% endif %}>Tous</a>
                {% for range in priceRanges %}
            </li>
            <li>
                <a href="{{ path('app_products', {'range': range}) }}" {% if selectedRange == range %}style="font-weight: bold;"{% endif %}>{{ range }} €</a>
            </li>
                {% endfor %}
        </ul>
    </div>
        <div class="product-sweat">
            {% for sweatshirt in sweatshirts %}
                <div class="sweat">
                    <img src="{{ asset('images/' ~ sweatshirt.image) }}" alt="{{ sweatshirt.name }}" width="200" />
                    <h3>{{ sweatshirt.name }}</h3>
                    <div class="price-button">
                        <p>Prix : {{ sweatshirt.price }} €</p>
                        {% if app.user %}
                            <a href="{{ path('app_product', {'id': sweatshirt.id}) }}" class="button">Voir</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
    </div>
</section>
{% endblock %}