{% extends 'base.html.twig' %}

{% block title %}Connexion - Stubborn{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    {% if app.user %}
        {% do app.redirect('app_home') %}
    {% endif %}
<section class="login-form">
    <h2>Se connecter</h2>
    <hr class="separation" />
    <form method="post">
        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% elseif error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn-co" type="submit">
            Se connecter
        </button>
        <p><a href="#">Mot de passe oublié</a></p>
        <hr class="separation" />
        <p>Pas encore inscrit ?</p>
        <button class="btn-co" 
        onclick="window.location.href='{{ path('app_register') }}'">
        Créer un compte
        </button>
    </form>
</section>
{% endblock %}